*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color:  hsl(0, 0%, 100%);
}
.main{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
flex-wrap: wrap;
}
.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 12%);
  width: 400px;
  height: 600px;
  border-radius: 10px;
  padding: 30px;
}
.box img{
  border-radius: 100%;
  width: 100px;
  margin-bottom: 10px;
}
h1{
  background-color:transparent;
}
span{
  background-color: transparent;
  color: hsl(75, 94%, 57%);
  margin-bottom: 15px;
}
p{
  background-color: transparent;
  margin-bottom: 15px;
}
button{
  background-color: hsl(0, 0%, 20%);
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
}